# Python
__pycache__/
*.pyc
venv/
.venv/

# Environment variables
.env

# Database
instance/
*.db
*.sqlite
*.sqlite3

# Runtime files
backend/exports/
backend/uploads/

# Frontend
node_modules/

# Editor
.vscode/